.cardWrap{
  display: flex;
  flex-direction: column;
  .imgWrap{

    overflow: hidden;
    border-radius: 20px;
    img{
      object-fit: contain;
    }
  }
  p{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }
}