.about {
  position: relative;
  background-color: rgba(57, 92, 122, 1);
  color: rgba(255, 255, 255, 1);
  padding: 80px 0;
  h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: start;
    margin-bottom: 30px;
  }
  .descr{
    margin-bottom: 30px;
    p{
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 100%;
    }
  }
  .aboutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    margin: auto;
    padding: 15px 10px;
    cursor: pointer;
    background-color: rgba(248, 148, 34, 1);
    border-radius: 10px;
    button{
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-size: 18px;
      background: transparent;
      border: none;
    }
  }
  &:before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 142px;
    height: 92px;
    border-bottom-left-radius: 94px;
    border-bottom-right-radius: 94px;
    background-color: rgba(244, 240, 239, 1);
  }
  &:after{
    position: absolute;
    content: "";
    top: 92px;
    right: 0;
    width: 142px;
    height: 332px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 94px;
    background-color: rgba(244, 240, 239, 1);
  }
}
