.about {
  position: relative;
  background-color: rgba(57, 92, 122, 1);
  color: rgba(255, 255, 255, 1);
  padding: 75px 0;
  h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-align: start;
    margin: 0 0 35px;
  }
  .descr {
    margin-bottom: 45px;
    p {
      margin-bottom: 21px;
      font-size: 18px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.3px;
    }
  }
  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 142px;
    height: 92px;
    border-bottom-left-radius: 94px;
    border-bottom-right-radius: 94px;
    background-color: rgba(244, 240, 239, 1);
  }
  &:after {
    position: absolute;
    content: "";
    top: 92px;
    right: 0;
    width: 142px;
    height: 332px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 94px;
    background-color: rgba(244, 240, 239, 1);
  }
}
