.textWrap{
  display: flex;
  flex-direction: column;
  justify-content: start;
  label{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
  }
  input{
    background: transparent;
    border: 1px solid rgba(14, 21, 46, 1);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
  }
}
.checkBoxWrap{
  display: flex;
  align-items: center;
  input[type='checkbox']{
    appearance: none;
    background: transparent;
    border: 1px solid rgba(14, 21, 46, 1);
    border-radius: 5px;
    padding: 10px;
    margin-right: 8px;
    &:checked {
      background-color: rgb(14, 21, 46);
      border: 1px solid white;
    }
  }
  label{
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }
}