:root {
  font-family: Roboto, sans-serif;
  line-height: 100%;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  background-color: rgba(244, 240, 239, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  position: relative;
  max-width: 1120px;
  margin: auto;
  z-index: 10;
}

body {
  margin: 0;
}
